<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">© <%= new Date().getFullYear() %> Company, Berkan</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/berkanturkoglu/"><img src="images/linkedin-logo.png" height="20"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://twitter.com/trkgl_berkan"><img src="images/twitter.png" height="20"></a></li>
      </ul>
    </footer>
</div>