<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img class="mx-5" src="images/blog-icon.png" width="25">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/home" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/posts" class="nav-link px-2 text-white">Posts</a></li>
          <li><a href="/write" class="nav-link px-2 text-white">Write</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
        </ul>

        
        <!-- Seraching based on the heading of posts -->
        <form action="/search" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" name="query" placeholder="Search..." aria-label="Search">
        </form>

      </div>
    </div>
  </header>